<div class="row">
  Kafka Clusters:

  <ul>
    <%= for cluster <- @clusters do %>
      <li><%= cluster.name %>
        <dl>
          <dt>Configured Brokers</dt>
          <dd><%= connection_strings(cluster.configured_brokers) %></dd>
          <dt>Advertised Brokers</dt>
          <dd><%= connection_strings(cluster.advertised_brokers) %></dd>
        </dl>
      </li>
    <% end %>
  </ul>

</div>
