<div class="row">
  Kafka Clusters:

  <ul>
    <%= for cluster <- @clusters do %>
      <li><%= cluster.name %> - <%= connection_strings(cluster.configured_brokers) %></li>
    <% end %>
  </ul>

</div>
